* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

h1, h2 {
  text-align: center;
  padding: 15px 0;
}

.weapon img {
  width: 50px;
}

.weapons {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 15px 0;
}

.weapon,
.square {
  border: none;
  border-radius: 15px;
  padding: 12px;
}

.weapon:active {
  background-color: beige;
}

.crossBtn {
  background-color: rgb(38, 216, 207);
}

.circleBtn {
  background-color: lightskyblue;
}

.gameboard {
  display: grid;
  justify-content: center;
  padding: 20px;
  gap: 15px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.square {
  background-image: url("./graphics/tile.png");
  background-size: 100% 100%;
  opacity: 0.5;
}

.square:hover:enabled {
  background-color: lightpink;
  background-image: none;
}





